<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="base_marker_tree" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}" />
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="${0.5 * pi} 0 ${0.5 * pi}" />
        <geometry>
          <mesh
            filename="package://sfg_peripherals_description/mesh/base_marker_tree.glb" />
        </geometry>
      </visual>
    </link>

    <joint name="${name}_frame_joint" type="fixed">
      <parent link="${name}" />
      <child link="${name}_frame" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>

    <link name="${name}_frame" />
  </xacro:macro>
</robot>